<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ComingUp.Properties.Settings.AutoScheduleConnectionString"
      connectionString="Data Source=192.168.100.73;Initial Catalog=AutoSchedule;Persist Security Info=True;User ID=comingup;Password=comingup"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CS5.5\Support Files\aerender.exe"/>
    <add key="OutputPath" value="c:\Files\f\OutPut\ComingUp\"/>
    <add key="AeProjectFile" value="C:\Users\admin\Desktop\Coming UP\Coming Up folder\Coming Up.aep"/>
    <add key="ImagePathTitle" value="C:\files\f\img\title\"/>
    <add key="ImagePathTime" value="C:\files\f\img\Time\"/>
    <add key="RenderIntervalMin" value="20"/>
    <add key="TitleLenght" value="48"/>
    <add key="TitleFontSize" value="42"/>
    <add key="Composition" value="Coming Up Main"/>
    <add key="OutPutFileName" value="ComingUp"/>   
    <add key="WaitForSiteLoadSec" value="1"/>
   <add key="TimeScheduleMinute" value="33"/>
    <add key="ScheduleDestFileName" value="c:\Files\f\OutPut\ComingUp\"/>
  </appSettings>
</configuration>